h1 {
  font-family: "Sacramento", cursive;
  font-size: 65px;
  text-align: center;
}

#buttons {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 40px;
}

#buttons a {
  text-decoration: none;
}

.buttonLogin {
  border: 1px solid #555;
  background-color: #fefefe;
  padding: 10px 30px;
  color: #000;
  border-radius: 5px;
}

.buttonRegister {
  border: 1px solid #555;
  background-color: #4c2d88;
  padding: 10px 30px;
  color: #fff;
  border-radius: 5px;
}

#login {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fefefe;
  padding: 20px;
  border-radius: 5px;
  width: 20%;
  margin: auto;
  -webkit-box-shadow: 0px 0px 16px 2px rgba(186,186,186,1);
  -moz-box-shadow: 0px 0px 16px 2px rgba(186,186,186,1);
  box-shadow: 0px 0px 16px 2px rgba(186,186,186,1);
}

#login ::placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #ccc;
  opacity: 1;
}

#login h2 {
  margin-left: 5%;
  color: #4c2d88;
  text-align: left;
}

#login input[type=text], #login input[type=password] {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  padding: 12px 0px 8px 0px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 90%
}

#login input[type=submit] {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  background-color: #fff;
  color: #ccc;
  border: 3px solid #ccc;
  padding: 12px 70px;
  margin-top: 20px;
  cursor: pointer;
}

#login input[type=submit]:hover {
  opacity: 0.8;
}

#reg {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #4c2d88;
  padding: 20px;
  border-radius: 5px;
  width: 20%;
  margin: auto;
  -webkit-box-shadow: 0px 0px 16px 2px rgba(186,186,186,1);
  -moz-box-shadow: 0px 0px 16px 2px rgba(186,186,186,1);
  box-shadow: 0px 0px 16px 2px rgba(186,186,186,1);
}

#reg ::placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #ccc;
  opacity: 1;
}

#reg h2 {
  margin-left: 5%;
  color: #fefefe;
  text-align: left;
}

#reg input[type=text], #reg input[type=password] {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  padding: 12px 0px 8px 0px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #4c2d88;
  width: 90%
}

#reg input[type=submit] {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  background-color: #fff;
  color: #4c2d88;
  border: 3px solid #fff;
  padding: 12px 20%;
  margin-top: 20px;
  cursor: pointer;
}

#reg input[type=submit]:hover {
  opacity: 0.8;
}

#editor-container {
  height: 375px;
  width: 75%;
  visibility: hidden;
}

.ql-toolbar {
  width: 75%;
}

#saveButton input[type=submit]{
  border-radius: 50px;
  background-color: #4c2d88;
  color: #ffffff;
  width: auto;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  float: right;
}

#saveButton:hover {
  opacity: 0.8;
}

#addEntry {
  border-radius: 25px;
  background-color: #4c2d88;
  color: #ffffff;
  width: 25px;
  height: 25px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  margin: auto;
}

#addEntry:hover {
  opacity: 0.8;
}

#paperclip {
  border-radius: 50px;
  background-color: #4c2d88;
  color: #ffffff;
  width: auto;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  float: right;
}

#paperclip:hover {
  opacity: 0.8;
}

.logo {
  font-family: "Sacramento", cursive;
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  width: 15%;
  float: left;

}

.logo a {
  text-decoration: none;
  color: #000;
}
.avatar {
  float: right;
  margin-right: 100px;
}

.avatar img {
  margin-right: 20px;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  margin-top: 7.5px;
}

.avatar img:hover {
  -webkit-box-shadow: 10px 10px 44px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 44px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 44px -8px rgba(0,0,0,0.75);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.username {
  float: left;
  margin-right: 15px;
  line-height: 65px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Source Sans Pro";
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Source Sans Pro";
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #eee3f7;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {}

#userBar {
  background-color: #bda8e7;
  width: 100%;
  height: 65px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
  cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
